<!DOCTYPE html>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} | thefujin</title>
    <meta name="description" content="">
    {{template "dist.html" .}}
  </head>
  <body>
  	<div class="container">
      <div class="blog-header">
        <a href="/posts"><h1 class="blog-title">thefujin</h1></a>
        <p class="lead blog-description">Blog about Go, Python, Java and a bit of frontend</p>
        <hr>
      </div>
      <!-- <a href="/posts/add">add post</a> -->
      <div class="row">
          <div class="col-sm-8 blog-main">


