<!DOCTYPE html>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home | thefujin</title>
    <meta name="description" content="">
    <link href="http://thefujin.com/public/css/bootstrap.min.css" rel="stylesheet">
	<link href="http://thefujin.com/public/css/blog.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://thefujin.com/public/js/bootstrap.min.js"></script>

  </head>
  <body>
  	<div class="container">
  		<div class="index-message">
        	<h1>thefujin.com</h1>
        	<p class="lead">Building web apps with great tools</p>
        	<p class="blog-post">This page is under construction. You can check my latest <a href="posts">blog posts</a> for now.</p>
      </div>
 	</div>
  </body>
</html>


